
/*----------BODY----------*/
body {
	text-align: center;
	padding: 1vh;
}

/*----------INPUT----------*/
input#name {
	padding: 3px;
	border: solid 1px #000000;
	width: 60vw;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input#name:focus {
	outline-color: #EEA34A;
}

/*----------TEXTAREA----------*/
textarea#message {
	padding: 3px;
	border: solid 1px #000000;
	width: 60vw;
	height: 20vh;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
textarea:focus {
	outline-color: #EEA34A;
}

/*----------BUTTON----------*/
button#send {
	font-weight: bold;
	padding: 2px;
	width: 60vw;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
button#send:focus {
	/*デフォルトのフォーカスをオフ*/
	outline: 0;
}


/*----------TABLE----------*/
table.type01 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
}

table.type01 thead th {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
	background: #eee;
}

table.type01 tbody th {
	padding: 5px;
	font-style: italic;
	vertical-align: top;
	border: 1px solid #ccc;
}

table.type01 tbody td {
	padding: 5px;
	vertical-align: top;
	border: 1px solid #ccc;
}